* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

.search-info-background {
  background: rgba(148, 151, 163, 0.2);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  object-fit: cover;
  background-image: url(../img/movenpick-phu-quoc-t.png);
  cursor: pointer;
  height: 480px;
  display: flex;
  align-items: center;
}

.search-form {
  z-index: 10;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.3);
  width: 60%;
  border-radius: 4px;
}

.search-input {
  background: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin: 12px;
}

.search-input i {
  margin-left: 12px;
}

.search-input input {
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 16px 12px;
  margin-left: 8px;
  font-size: 16px;
  width: 100%;
}

.search {
  display: flex;
  align-items: center;
  position: relative;
}

.quantitypeople {
  position: absolute;
  top: 65px;
  left: 30px;
  width: 35%;
  background: #ebebeb;
  padding: 12px;
  border-radius: 4px;
}

.search-quantitypeople {
  background: #fff;
  width: 35%;
  border-radius: 4px;
  margin: 0 12px 12px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.search-quantitypeople div {
  margin-left: 12px;
}

.search-btn {
  margin: 0 12px 12px;
}

.search-btn button {
  padding: 12px 28px;
  outline: none;
  border: none;
  border-radius: 4px;
  color: #fff;
  background: #f79321;
  font-size: 16px;
  font-weight: bold;
  height: 60px;
  cursor: pointer;
}

.search-quantitypeople-room {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  background: #fff;
  border-radius: 4px;
  border-bottom: 1px solid #a8a8a8;
}

.search-quantitypeople-adult {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  background: #fff;
  border-radius: 4px;
  border-bottom: 1px solid #a8a8a8;
}

.search-quantitypeople-children {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  background: #fff;
  border-radius: 4px;
}

.quantity {
  margin-right: 15px;
  font-size: 25px;
  color: #3d3f47;
}

.minus-btn,
.plus-btn {
  outline: none;
  border: 1px solid #ccc;
  width: 30px;
  font-size: 22px;
  cursor: pointer;
  color: #6c707e;
  border-radius: 4px;
}

.room {
  display: flex;
  align-items: center;
}
