* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.footer {
  background-color: #f9f9f9;
}

/* FooterTop */

.footer-top-list {
  list-style: none;
  margin: 8px 0;
}

.footer-top-item {
  margin: 8px 0;
}

.footer-top-title {
  margin: 12px 0;
}

.footer-top-link {
  text-decoration: none;
  color: #818180;
  font-size: 14px;
}

.img-member {
  margin: 0 12px;
}

.sprites {
  display: inline-block;
  background: url(https://res.ivivu.com/img/sprites.png) no-repeat;
}

.logo-tmg {
  background-position: -80px -150px;
  width: 74px;
  height: 38px;
}

.footer-top-paragraph {
  font-size: 13px;
  color: #818180;
  margin: 12px 0;
}

/* Footer Bottom */

.footer-bottom-winner {
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.footer-bottom-winner span {
  width: 7%;
  margin-right: 12px;
}

.img-winner {
  width: 100%;
}

.footer-bottom-location p {
  margin: 8px 0;
  font-size: 15px;
}

.footer-bottom-location i {
  margin-right: 8px;
}

.footer-bottom-like {
  display: flex;
  align-items: center;
}

.footer-bottom-paragraph, .footer-bottom-btn, .footer-bottom-email {
  margin-right: 12px;
  font-size: 15px;
}

.footer-bottom-btn {
  background-color: #1877f2;
  color: #fff;
  padding: 4px;
  outline: none;
  border: none;
  border-radius: 4px;
  width: 80px;
}

.footer-bottom-btn i {
  margin-right: 4px;
}

.footer-bottom-email i {
  margin-right: 8px;
}

.footer-bottom-social-icon {
  display: flex;
  margin: 16px 0;
}

.footer-bottom-social-icon a {
  margin-right: 12px;
}

.footer-bottom-social-img {
  width: 30px;
}

.footer-bottom-help {
  margin: 24px 0;
}

.footer-bottom-contact {
  display: flex;
}

.footer-bottom-contact-phonenumber {
  font-size: 30px;
  margin-right: 16px;
  color: #F79321;
}

.footer-bottom-contact-phonenumber i {
  font-size: 24px;
  margin-right: 8px;
}

.footer-bottom-contact-time {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}

.footer-bottom-contact-time p {
  margin-right: 8px;
}

.footer-bottom-contact-time p i {
  margin-right: 4px;
}

.footer-bottom-chatbot {
  display: flex;
  margin: 8px 0;
  align-items: center;
}

.footer-bottom-chatbot img {
  margin-right: 8px;
}

.footer-bottom-download {
  display: flex;
  margin: 8px 0;
}

.footer-bottom-download img {
  width: 70px;
  margin-right: 4px;
}

.footer-bottom-app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-bottom-app img {
  display: block;
  width: 100px;
}

@media (min-width: 740px) {
  .center {
    text-align: center;
    margin: 8px 0;
  }
}

@media (max-width: 739px) {
  .disappear {
    display: none;
  }
  .row-bottom {
    flex-direction: column-reverse;
    margin: 0 24p;
  }
  .footer-bottom-help, .footer-bottom-chatbot p, .footer-bottom-booking p, .footer-bottom-winner b {
    font-size: 16px;
  }
}

@media (max-width: 496px) {
  .footer {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (min-width: 497px) and (max-width:739px) {
  .footer {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .row-bottom {
    flex-direction: column-reverse;
  }
  .footer-bottom-location {
    width: 110%;
  }
  .footer-top-title {
    font-size: 18px;
  }
}

@media (min-width: 1024px) and (max-width: 1239px) {
  .footer-bottom-contact-phonenumber {
    width: 100%;
  }
  .row-bottom {
    flex-direction: column-reverse;
  }
  .footer-bottom-location {
    width: 110%;
  }
  .footer-top-title {
    font-size: 18px;
  }
  .footer-bottom-chatbot p {
    font-size: 16px;
  }
}