/* NewBooks */

.newbooks-title {
  text-align: center;
  margin: 24px;
}

.newbooks-title-link {
  text-decoration: none;
  color: #000;
}

.newbooks-title-link:hover {
  color: #f00;
}

.newbooks-list {
  margin: 36px 12px;
}

.newbooks-product {
  display: flex;
  justify-content: center;
  height: 13rem;
  position: relative;
}

.newbooks-discount {
  position: absolute;
  top: -20px;
  right: 55px;
}

.newbooks-discount-price {
  background-color: #f00;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 2px;
}

.newbooks-img {
  width: 80%;
}

.newbooks-img.bestseller-img {
  height: 95%;
}

.newbooks-img.img {
  height: 80%;
}

.newbooks-info-link {
  max-width: 79%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

.newbooks-info-link:hover {
  color: #f00;
}

.newbooks-price-icon {
  display: flex;
  justify-content: space-between;
  margin: 8px auto;
}

.newbooks-icon {
  display: flex;
}

.newbooks-icon button {
  outline: none;
  border: none;
  cursor: pointer;
  margin-right: 12px;
  font-size: 18px;
  background-color: #fff;
}

.newbooks-icon button:hover {
  color: #f00;
}

/* Countdown */

.countdown-content {
  display: flex;
  justify-content: space-around;
  height: 120px;
  color: #fff;
  background: linear-gradient(to right, #0f3b6a 0%, #0f3b6a 15%, #01568f 25%, #00639a 29%, #00659b 35%, #022f68 53%, #184a89 72%, #25588f 100%);
}

.countdown-left {
  flex-basis: 20%;
}

.countdown-img {
  width: 30%;
  height: 100%;
  margin-left: 130px;
}

.countdown-right {
  flex-basis: 80%;
  display: flex;
  justify-content: space-between
}

.countdown-book {
  width: 30%;
  margin-top: 15px;
  text-transform: uppercase;
}

.countdown-time {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
  position: relative;
}

.countdown-days, .countdown-hours, .countdown-minutes, .countdown-seconds {
  text-align: center;
}

.countdown-days::after {
  border-right: 3px solid #fff;
  position: absolute;
  top: 25px;
  left: 29%;
  content: "";
  height: 70px;
}

.countdown-hours::after {
  border-right: 3px solid #fff;
  position: absolute;
  top: 25px;
  left: 50%;
  content: "";
  height: 70px;
}

.countdown-minutes::after {
  border-right: 3px solid #fff;
  position: absolute;
  top: 25px;
  left: 71%;
  content: "";
  height: 70px;
}

.countdown-remain {
  width: 30%;
  margin-top: 40px;
}

.countdown-remain-h3 {
  margin-top: 15px;
}

/* Register-Get-Info */

.RegisGetInfo {
  padding: 12px;
  text-align: center;
  background: linear-gradient(to right, #0f3b6a 0%, #0f3b6a 15%, #01568f 25%, #00639a 29%, #00659b 35%, #022f68 53%, #184a89 72%, #25588f 100%);
}

.RegisGetInfo h3 {
  margin: 16px auto;
  color: #fff;
  text-transform: uppercase;
}

.RegisGetInfo form {
  margin: 16px;
}

.RegisForm input {
  outline: none;
  border: none;
  padding: 12px;
  margin-right: 8px;
  width: 18%;
}

.RegisForm button {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 12px;
  margin-left: 8px;
  border-radius: 4px;
  color: #00639a;
  text-transform: uppercase;
  font-size: 14px;
}

/* Responsive */

@media (min-width: 1024px) and (max-width: 1239px) {
  .newbooks-discount {
    right: 35px;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .newbooks-discount {
    right: 18px;
  }
  .newbooks-author {
    white-space: nowrap;
  }
  .countdown-content {
    display: none;
  }
  .RegisGetInfo {
    display: none;
  }
}

@media (max-width: 739px) {
  .newbooks-discount {
    right: 12px;
  }
  .newbooks-author {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .newbooks-product {
    height: 10rem;
  }
  .newbooks-img {
    height: 95%;
  }
  .newbooks-img.img {
    height: auto;
  }
  .newbooks-icon {
    display: none;
  }
  .bestseller-product {
    height: 13rem !important;
  }
  .countdown-content {
    display: none;
  }
  .RegisGetInfo {
    display: none;
  }
}