* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.tourshome-container {
  background-color: #ecf0f5;
}

.tourshome {
  background-color: #e0e7ef;
}

.tourshome-description {
  display: flex;
  align-items: center;
  color: #003c71;
  height: 70px;
}

.tourshome-description i {
  font-size: 40px;
  margin-right: 4px;
}

.tourshome-description span {
  font-size: 20px;
}

/* Tour Viewed */

.tourviewed-title {
  color: #003c71;
  margin-top: 16px;
  margin-bottom: 24px;
}

.tourviewed {
  display: flex;
  background-color: #fff;
  margin-bottom: 30px;
}

.tourviewed-img-gift {
  position: relative;
  height: 120px;
}

.tourviewed-img-gift i {
  background-color: #f00;
  color: #fff;
  padding: 4px;
  position: absolute;
  top: 10px;
  left: -10px;
}

.tourviewed-img-gift i::after {
  content: '';
  position: absolute;
  left: 1px;
  bottom: -7px;
  border-top: 7px solid #f00;
  border-left: 10px solid transparent;
  filter: brightness(60%);
}

.tourviewed img {
  width: 120px;
  height: 120px;
}

.tourviewed-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tourviewed-name-icon {
  display: flex;
}

.tourviewed-name {
  color: #003c71;
  font-size: 15px;
  margin: 6px;
}

.tourviewed-name-icon i {
  color: #ccc;
  font-size: 16px;
  margin-right: 8px;
  margin-top: 4px;
  cursor: pointer;
}

.tourviewed-rating {
  display: flex;
  align-items: center;
  margin-left: 8px;
  margin-top: 12px;
  position: relative;
}

.tourviewed-rating span:first-child {
  color: #fff;
  background-color: #9fc43a;
  padding: 4px;
  font-weight: 600;
  border-radius: 4px;
  margin-right: 4px;
}

.tourviewed-rating span:nth-child(2) {
  color: #9fc43a;
  font-weight: 600;
  margin-right: 4px;
}

.tourviewed-rating span:nth-child(3) {
  color: #000;
  font-size: 16px;
}

.tourviewed-price {
  color: #00c1de;
  margin-top: 8px;
  margin-right: 8px;
  text-align: right;
}

.tourviewed-money {
  margin-right: 8px;
  font-weight: 600;
}

/* iVIVU  */

.tourshome-topic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 12px;
  position: relative;
  color: #003c71;
}

.tourshome-topic::after {
  content: '';
  position: absolute;
  top: 40px;
  width: 100%;
  border-bottom: 2px solid #003c71;
}

.tourshome-topic-more span {
  margin-right: 8px;
  color: #003c71;
  font-size: 12px;
}

.tourshome-topic-more i {
  color: #003c71;
  font-size: 12px;
}

/* Tourshome Content */

.tourshome-content {
  margin-bottom: 20px;
  position: relative;
}

.tourshome-dis-img-loca {
  position: relative;
  top: 4px;
}

.tourshome-discount {
  background-color: #f00;
  padding: 4px;
  position: absolute;
  top: 10px;
  left: -10px;
  font-size: 16px;
  font-weight: 600;
}

.tourshome-discount::after {
  content: '';
  position: absolute;
  left: 1px;
  bottom: -7px;
  border-top: 7px solid #f00;
  border-left: 10px solid transparent;
  filter: brightness(60%);
}

.tourshome-img {
  width: 100%;
}

.tourshome-location {
  background-color: #00467ecc;
  position: absolute;
  bottom: 5px;
  left: 0;
  padding: 4px 8px;
  font-size: 16px;
  font-weight: 600;
}

.tourshome-location i {
  color: #F79321;
  margin-right: 6px;
  font-size: 14px;
}

.tourshome-info {
  background-color: #fff;
}

.tourshome-info:hover {
  background-color: #daedff;
  transition: linear 0.2s;
}

.tourshome-name {
  color: #003c71;
  font-size: 18px;
  padding: 4px 12px;
  display: flex;
  flex-wrap: wrap;
}

.tourshome-time-transportion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
}

.tourshome-time {
  color: #000;
  margin-left: 12px;
}

.tourshome-time span {
  font-size: 14px;
}

.tourshome-time i {
  margin-right: 4px;
  font-size: 12px;
}

.tourshome-transportation i {
  color: #000;
  margin-right: 12px;
  font-size: 12px;
}

.tourshome-rating {
  display: flex;
  align-items: center;
  margin-left: 8px;
  margin-top: 24px;
}

.tourshome-rating span:first-child {
  color: #fff;
  background-color: #9fc43a;
  padding: 4px;
  font-weight: 600;
  border-radius: 4px;
  margin-right: 4px;
}

.tourshome-rating span:nth-child(2) {
  color: #9fc43a;
  font-weight: 600;
  margin-right: 4px;
}

.tourshome-rating span:nth-child(3) {
  color: #000;
  font-size: 16px;
}

.col:first-child .tourshome-list {
  color: #00c1de;
  display: flex;
  font-size: 14px;
  list-style: none;
  margin-top: 8px;
}

.col:first-child .tourshome-list li {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.col:first-child .tourshome-list li i {
  font-size: 4px;
  margin-right: 4px;
}

.col:nth-child(2) .tourshome-list, .col:nth-child(4) .tourshome-list {
  color: #00c1de;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  list-style: none;
  margin-top: 8px;
}

.col:nth-child(2) .tourshome-list li:first-child, .col:nth-child(2) .tourshome-list li:nth-child(2) {
  display: flex;
  align-items: center;
  margin-left: 8px;
  margin-bottom: 4px;
}

.col:nth-child(2) .tourshome-list li:nth-child(3) {
  display: flex;
  align-items: center;
  margin-left: 8px;
  margin-bottom: 4px;
}

.col:nth-child(2) .tourshome-list li:nth-child(4) {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.col:nth-child(2) .tourshome-list li:nth-child(5) {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.col:nth-child(2) .tourshome-list li i {
  font-size: 4px;
  margin-right: 4px;
}

.col:nth-child(3) .tourshome-list {
  color: #00c1de;
  font-size: 14px;
  list-style: none;
  margin-left: 8px;
  margin-top: 8px;
}

.col:nth-child(3) .tourshome-list li, .col:nth-child(5) .tourshome-list li, .col:nth-child(7) .tourshome-list li, .col:nth-child(8) .tourshome-list li, .col:nth-child(9) .tourshome-list li {
  margin-bottom: 2px;
  display: flex;
  align-items: center;
}

.col:nth-child(3) .tourshome-list li i, .col:nth-child(4) .tourshome-list li i, .col:nth-child(5) .tourshome-list li i, .col:nth-child(6) .tourshome-list li i, .col:nth-child(7) .tourshome-list li i, .col:nth-child(8) .tourshome-list li i, .col:nth-child(9) .tourshome-list li i {
  font-size: 4px;
  margin-right: 4px;
}

.col:nth-child(4) .tourshome-list li:first-child {
  margin-bottom: 2px;
  margin-left: 8px;
  display: flex;
  align-items: center;
}

.col:nth-child(4) .tourshome-list li:nth-child(2) {
  margin-bottom: 2px;
  margin-left: 8px;
  display: flex;
  align-items: center;
}

.col:nth-child(4) .tourshome-list li:nth-child(3) {
  margin-bottom: 2px;
  margin-left: 8px;
  display: flex;
  align-items: center;
  width: 100%;
}

.col:nth-child(4) .tourshome-list li:nth-child(4) {
  margin-bottom: 2px;
  margin-left: 8px;
  display: flex;
  align-items: center;
}

.col:nth-child(5) .tourshome-list {
  color: #00c1de;
  font-size: 14px;
  list-style: none;
  margin-left: 8px;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
}

.col:nth-child(8) .tourshome-list {
  color: #00c1de;
  font-size: 14px;
  list-style: none;
  margin-left: 8px;
  margin-top: 8px;
}

.col:nth-child(6) .tourshome-list {
  color: #00c1de;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  list-style: none;
  margin-top: 8px;
}

.col:nth-child(6) .tourshome-list li:first-child {
  margin-bottom: 2px;
  margin-left: 8px;
  display: flex;
  align-items: center;
  flex-basis: 100%;
}

.col:nth-child(6) .tourshome-list li:nth-child(2) {
  margin-bottom: 2px;
  margin-left: 8px;
  display: flex;
  align-items: center;
}

.col:nth-child(6) .tourshome-list li:nth-child(3) {
  margin-bottom: 2px;
  margin-left: 8px;
  display: flex;
  align-items: center;
}

.col:nth-child(7) .tourshome-list {
  color: #00c1de;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  list-style: none;
  margin-top: 8px;
}

.col:nth-child(7) .tourshome-list li:first-child {
  margin-bottom: 2px;
  margin-left: 8px;
  display: flex;
  align-items: center;
}

.col:nth-child(7) .tourshome-list li:nth-child(2) {
  margin-bottom: 2px;
  margin-left: 8px;
  display: flex;
  align-items: center;
}

.col:nth-child(7) .tourshome-list li:nth-child(3) {
  margin-bottom: 2px;
  margin-left: 8px;
  display: flex;
  align-items: center;
}

.col:nth-child(7) .tourshome-list li:nth-child(4) {
  margin-bottom: 2px;
  margin-left: 8px;
  display: flex;
  align-items: center;
}

.col:nth-child(9) .tourshome-list {
  color: #00c1de;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  list-style: none;
  margin-top: 8px;
}

.col:nth-child(9) .tourshome-list li:nth-child(1) {
  margin-bottom: 2px;
  margin-left: 8px;
  display: flex;
  align-items: center;
  width: 100%;
}

.col:nth-child(9) .tourshome-list li:nth-child(2) {
  margin-bottom: 2px;
  margin-left: 8px;
  display: flex;
  align-items: center;
}

.col:nth-child(9) .tourshome-list li:nth-child(3) {
  margin-bottom: 2px;
  margin-left: 8px;
  display: flex;
  align-items: center;
}

.col:nth-child(9) .tourshome-list li:nth-child(4) {
  margin-bottom: 2px;
  margin-left: 8px;
  display: flex;
  align-items: center;
}

.tourshome-price {
  color: #00c1de;
  font-weight: 600;
  margin-right: 8px;
  position: absolute;
  bottom: 0;
  right: 8px;
}

.tourshome-money {
  font-size: 26px;
  margin-right: 8px;
}

/* Responsive */

@media (min-width: 1113px) {
  .tourshome-info {
    height: 190px;
  }
}

@media (min-width: 1024px) and (max-width:1239px) {
  .tourshome-info {
    height: 210px;
  }
  .tourshome-rating {
    bottom: 0 !important;
  }
  .tourshome-time-transportion {
    margin-top: 0;
  }
  .col:nth-child(2) .tourshome-list li:nth-child(3) {
    margin-bottom: 0;
  }
  .tourviewed-rating {
    margin-top: 0;
  }
}

@media (min-width: 740px) and (max-width:1023px) {
  .tourshome-info {
    height: 210px;
  }
  .tourshome-time-transportion {
    margin-top: 0;
  }
  .col:nth-child(2) .tourshome-list li:nth-child(3) {
    margin-bottom: 0;
  }
  .col:nth-child(4) .tourshome-time-transportion {
    position: relative;
    top: 20px;
  }
  .col:nth-child(4) .tourshome-list {
    margin-top: 24px;
  }
  .col:nth-child(9) .tourshome-list li:nth-child(3) {
    margin-left: 8px;
  }
  .tourviewed-rating {
    margin-top: 0;
  }
}

@media (min-width:617px) and (max-width: 739px) {
  .tourshome-topic {
    margin-left: 12px;
    margin-right: 12px;
  }
  .tourshome-dis-img-loca {
    margin-left: 12px;
    margin-right: 12px;
  }
  .tourshome-info {
    height: 120px;
    margin-left: 12px;
    margin-right: 12px;
  }
  .tourshome-rating {
    margin-top: 0;
  }
  .tourshome-time-transportion {
    margin-top: 0;
  }
  .col:first-child .tourshome-list {
    bottom: 40px;
  }
  .col:nth-child(2) .tourshome-list {
    margin-top: 4px;
    width: 100%;
  }
  .col:nth-child(2) .tourshome-list li:nth-child(4), .col:nth-child(2) .tourshome-list li:nth-child(5) {
    margin-bottom: 4px;
  }
  .col:nth-child(3) .tourshome-list {
    display: flex;
    flex-wrap: wrap
  }
  .col:nth-child(3) .tourshome-list li:nth-child(2) {
    margin-left: 8px;
    margin-right: 8px;
  }
  .col:nth-child(3) .tourshome-list li:nth-child(4) {
    margin-left: 8px;
  }
  .col:nth-child(4) .tourshome-info {
    height: 130px;
  }
  .col:nth-child(4) .tourshome-list {
    margin-top: 2px;
    display: flex;
    flex-wrap: wrap
  }
  .col:nth-child(5) .tourshome-list {
    flex-direction: row;
    margin-top: 4px;
  }
  .col:nth-child(5) .tourshome-list li:nth-child(2), .col:nth-child(5) .tourshome-list li:nth-child(3) {
    margin-left: 8px;
  }
  .col:nth-child(6) .tourshome-info {
    height: 140px;
  }
  .col:nth-child(6) .tourshome-list {
    margin-top: 4px;
  }
  .col:nth-child(6) .tourshome-list li:nth-child(3) {
    margin-left: 8px;
  }
  .col:nth-child(8) .tourshome-info {
    height: 150px;
  }
  .col:nth-child(8) .tourshome-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4px;
  }
  .col:nth-child(8) .tourshome-list li:nth-child(2) {
    margin-left: 8px;
    margin-right: 8px;
  }
  .col:nth-child(9) .tourshome-info {
    height: 140px;
  }
  .col:nth-child(9) .tourshome-list {
    margin-top: 4px;
  }
  .col:nth-child(9) .tourshome-list li:nth-child(2) {
    margin-left: 8px;
  }
  .tourviewed-title, .tourviewed {
    margin-left: 8px;
    margin-right: 8px;
  }
  .tourviewed-name {
    font-size: 18px;
    margin-right: 0;
  }
  .tourviewed-rating {
    margin-top: 0;
  }
  .tourshome-topic-more {
    display: none;
  }
}

@media (min-width:497px) and (max-width:616px) {
  .tourshome-topic {
    margin-left: 12px;
    margin-right: 12px;
  }
  .tourshome-dis-img-loca {
    margin-left: 12px;
    margin-right: 12px;
  }
  .tourshome-info {
    height: 140px;
    margin-left: 12px;
    margin-right: 12px;
  }
  .tourshome-rating {
    margin-top: 0;
  }
  .tourshome-time-transportion {
    margin-top: 0;
  }
  .col:nth-child(2) .tourshome-list {
    margin-top: 4px;
  }
  .col:nth-child(2) .tourshome-list li:first-child {
    margin-bottom: 0;
  }
  .col:nth-child(2) .tourshome-list li:nth-child(2) {
    margin-bottom: 0;
  }
  .col:nth-child(2) .tourshome-list li:nth-child(3) {
    margin-bottom: 0;
  }
  .col:nth-child(2) .tourshome-list li:nth-child(5) {
    margin-top: 2px;
  }
  .col:nth-child(3) .tourshome-list {
    margin-top: 4px;
    display: flex;
    flex-wrap: wrap
  }
  .col:nth-child(3) .tourshome-list li:first-child, .col:nth-child(3) .tourshome-list li:nth-child(3) {
    margin-right: 8px;
  }
  .col:nth-child(4) .tourshome-list {
    display: flex;
    flex-wrap: wrap
  }
  .col:nth-child(4) .tourshome-list li:first-child {
    margin-right: 8px;
  }
  .col:nth-child(5) .tourshome-info {
    height: 150px;
  }
  .col:nth-child(5) .tourshome-list {
    margin-top: 4px;
  }
  .col:nth-child(6) .tourshome-list {
    margin-top: 4px;
  }
  .col:nth-child(6) .tourshome-list li:nth-child(3) {
    margin-left: 8px;
  }
  .col:nth-child(7) .tourshome-info {
    height: 140px;
  }
  .col:nth-child(7) .tourshome-list {
    margin-top: 4px;
  }
  .col:nth-child(7) .tourshome-list li:nth-child(4) {
    margin-left: 8px;
  }
  .col:nth-child(8) .tourshome-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4px;
  }
  .col:nth-child(8) .tourshome-list li:nth-child(2) {
    margin-left: 8px;
  }
  .col:nth-child(9) .tourshome-info {
    height: 140px;
  }
  .col:nth-child(9) .tourshome-list {
    margin-top: 4px;
  }
  .tourviewed-title, .tourviewed {
    margin-left: 8px;
    margin-right: 8px;
  }
  .tourviewed-name {
    font-size: 18px;
    margin-right: 0;
  }
  .tourviewed-rating {
    margin-top: 0;
  }
  .tourshome-topic-more {
    display: none;
  }
}

@media (max-width:496px) {
  .tourshome-topic {
    margin-left: 12px;
    margin-right: 12px;
  }
  .tourshome-dis-img-loca {
    margin-left: 12px;
    margin-right: 12px;
  }
  .tourshome-info {
    height: 145px;
    margin-left: 12px;
    margin-right: 12px;
  }
  .tourshome-rating {
    margin-top: 0;
  }
  .tourshome-time-transportion {
    margin-top: 0;
  }
  .col:nth-child(2) .tourshome-list {
    margin-top: 4px;
  }
  .col:nth-child(2) .tourshome-list li:first-child {
    margin-bottom: 0;
  }
  .col:nth-child(2) .tourshome-list li:nth-child(2) {
    margin-bottom: 0;
    margin-left: 8px;
  }
  .col:nth-child(3) .tourshome-info, .col:nth-child(4) .tourshome-info {
    height: 175px;
  }
  .col:nth-child(3) .tourshome-list, .col:nth-child(4) .tourshome-list {
    margin-top: 4px;
    display: flex;
    flex-wrap: wrap
  }
  .col:nth-child(3) .tourshome-list li:nth-child(1), .col:nth-child(3) .tourshome-list li:nth-child(3) {
    margin-right: 8px;
  }
  .col:nth-child(2) .tourshome-list li:nth-child(3) {
    margin-bottom: 0;
  }
  .col:nth-child(5) .tourshome-info {
    height: 180px;
  }
  .col:nth-child(5) .tourshome-list {
    margin-top: 4px;
  }
  .col:nth-child(6) .tourshome-info {
    height: 160px;
  }
  .col:nth-child(6) .tourshome-list {
    margin-top: 4px;
  }
  .col:nth-child(6) .tourshome-list li:nth-child(3) {
    margin-left: 8px;
  }
  .col:nth-child(7) .tourshome-info {
    height: 160px;
  }
  .col:nth-child(7) .tourshome-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4px;
  }
  .col:nth-child(7) .tourshome-list li:nth-child(2), .col:nth-child(7) .tourshome-list li:nth-child(4) {
    margin-left: 8px;
  }
  .col:nth-child(8) .tourshome-info {
    height: 160px;
  }
  .col:nth-child(8) .tourshome-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4px;
  }
  .col:nth-child(8) .tourshome-list li:nth-child(1) {
    margin-right: 8px;
  }
  .col:nth-child(9) .tourshome-info {
    height: 160px;
  }
  .col:nth-child(9) .tourshome-list {
    margin-top: 4px;
  }
  .col:nth-child(9) .tourshome-list li:nth-child(2), .col:nth-child(9) .tourshome-list li:nth-child(3) {
    margin-left: 8px;
  }
  .tourviewed-title, .tourviewed, .tourshome-topic-more {
    display: none;
  }
}