* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.tourtet-container {
  background-color: #ecf0f5;
}

.tourtet-navbar {
  display: flex;
  list-style: none;
  margin: 10px 0;
}

.tourtet-item {
  font-size: 14px;
}

.tourtet-item+.tourtet-item:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

.tourtet-link {
  color: #555863;
}

.tourtet-link i {
  margin-right: 8px;
  font-size: 12px;
}

.tourtet-choose {
  color: #818180;
}

/* Tailor Tour */

.tourtet-tailortour {
  background-color: #feeec7;
  padding: 12px;
}

.tailortour-title {
  color: #003c71;
  padding: 4px;
}

.tourtet-tailortour p {
  padding: 4px;
}

.tailortour-title span {
  color: #26bed6;
}

.tailortour-form {
  background-color: #fef3d8;
  padding: 4px;
}

.tailortour-name, .tailortour-phonenumber, .tailortour-email, .tailortour-experience, .tailortour-button {
  padding: 8px;
}

.tailortour-input {
  display: block;
  height: 34px;
  padding: 6px 12px;
  width: 100%;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
  background-color: transparent;
}

.tailortour-input:focus, .tailortour-textarea:focus {
  border-color: #26bed6;
}

.tailortour-textarea {
  display: block;
  height: 54px;
  padding: 6px 12px;
  width: 100%;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
  background-color: transparent;
  resize: none;
  font-size: 16px;
}

.tailortour-btn {
  outline: none;
  border: none;
  border-radius: 4px;
  width: 100%;
  margin: 0 auto;
  background-color: #f79321;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 12px;
}

.tailortour-avatar {
  margin: 12px;
  text-align: center;
  font-size: 70px;
}

.tailortour-consultant {
  text-align: center;
  font-size: 20px;
}

.tailortour-consultant h3 {
  color: #ec971f;
  font-weight: bold;
}

.tailortour-qrcode {
  text-align: center;
}

.tailortour-qrcode img {
  width: 40%;
}

/* Info */

/* SGHNSPHL5N4D */

.tourtet-name {
  color: #003c71;
}

.tourtet-rating {
  margin-top: 12px;
}

.tourtet-rating span:first-child {
  color: #fff;
  background-color: #9fc43a;
  padding: 4px;
  font-weight: 600;
  border-radius: 4px;
  margin-right: 4px;
}

.tourtet-rating span:nth-child(2) {
  color: #9fc43a;
  font-weight: 600;
  margin-right: 4px;
}

.tourtet-rating span:nth-child(3) {
  color: #000;
  font-size: 16px;
}

.tourtet-content {
  padding-top: 16px;
}

.tourtet-img {
  width: 100%;
  margin-bottom: -5px;
}

.tourtet-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 12px;
  background-color: #9497a31a;
}

.tourtet-info div span:nth-child(1), .tourtet-info div span:nth-child(2), .tourtet-info div span:nth-child(3) {
  margin-right: 28px;
  color: #50535d;
}

.tourtet-info div span:nth-child(1) i, .tourtet-info div span:nth-child(2) i, .tourtet-info div span:nth-child(3) i {
  margin-right: 8px;
  margin-left: 8px;
}

.tourtet-info span b {
  color: #00c1de;
}

.tourtet-description {
  background-color: #fff;
}

.tourtet-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 8px;
}

.tourtet-title h2, .tourtet-experiences h2, .tourtet-schedule h2 {
  color: #003c71;
}

.tourtet-likeshare button {
  border: none;
  outline: none;
  background-color: #1877f2;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  margin-right: 8px;
  cursor: pointer;
}

.tourtet-journey p {
  padding: 8px 12px;
}

.tourtet-experiences, .tourtet-schedule {
  padding: 12px 8px;
}

.tourtet-experiences div, .tourtet-flighttime, .tourtet-firstday, .tourtet-secondday, .tourtet-thirdday, .tourtet-fourthday, .tourtet-fifthday {
  padding: 8px;
}

.tourtet-experiences div p {
  padding: 4px;
}

.tourtet-firstday h3, .tourtet-firstday p, .tourtet-firstday img, .tourtet-flighttime h3, .tourtet-flighttime p, .tourtet-secondday h3, .tourtet-secondday p, .tourtet-secondday img, .tourtet-thirdday h3, .tourtet-thirdday img, .tourtet-thirdday p, .tourtet-fourthday h3, .tourtet-fourthday img, .tourtet-fourthday p, .tourtet-fifthday h3, .tourtet-fifthday img, .tourtet-fifthday p, .tourtet-fifthday i {
  padding: 4px;
  width: 100%;
}

.tourtet-departureschedule {
  padding: 12px 8px;
}

.tourtet-departureschedule h2 {
  color: #003c71;
}

.tourtet-departureschedule-title, .tourtet-departureschedule-1403, .tourtet-departureschedule-1703, .tourtet-departureschedule-2403 {
  display: flex;
  justify-content: space-between;
}

.tourtet-departureschedule-table div span {
  /* width: 100%; */
  padding: 8px;
}

.tourtet-departureschedule-1403, .tourtet-departureschedule-2403 {
  border: 1px solid #ddd;
  background-color: #eeeaea;
}

.tourtet-departureschedule-1403minus, .tourtet-departureschedule-1703minus, .tourtet-departureschedule-2403minus {
  background-color: #003c71;
  border: 1px solid #003c71;
  color: #fff;
}

.tourtet-plus1403, .tourtet-plus1703, .tourtet-plus2403 {
  background-color: #003c71;
  color: #fff;
  margin-left: 8px;
  cursor: pointer;
}

.tourtet-minus1403, .tourtet-minus1703, .tourtet-minus2403 {
  color: #fff;
  cursor: pointer;
}

.tourtet-departureschedule-1703 {
  border: 1px solid #ddd;
}

.fa-plus-circle {
  margin-left: 8px;
  cursor: pointer;
  color: #003c71;
}

.tourtet-departureschedule-table-adultchildren {
  padding: 12px 8px;
  border: 1px solid #ddd;
}

.tourtet-departureschedule-tableadult {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tourtet-departureschedule-tablechildren {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}

.tourtet-departureschedule-adult {
  margin-right: 12px;
}

.tourtet-departureschedule-children {
  margin-right: 34px;
}

.tourtet-departureschedule-price {
  margin-right: 10px;
  color: #f79321;
}

.tourtet-departureschedule-pricechildren {
  color: #f79321;
}

.tourtet-numberAdult button, .tourtet-numberChildren button {
  outline: none;
  border: 1px solid #ccc;
  width: 30px;
  font-size: 22px;
  cursor: pointer;
}

.numberadult, .numberchildren {
  width: 30px;
  font-size: 22px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
  padding: 0 !important;
}

.tourtet-numberAdult, .tourtet-numberChildren {
  display: flex;
  align-items: center;
}

.tourtet-departureschedule-tablebtn {
  color: #fff;
  background-color: #f79321;
  padding: 8px;
  outline: none;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 18px;
  width: 140px;
  cursor: pointer;
}

.tourtet-selectlist {
  padding: 4px;
  height: 30px;
  margin-right: 12px;
  margin-top: 8px;
}

.tourtet-listage-title {
  font-size: 14px;
  margin: 4px 0;
}

.tourtet-listage {
  padding: 8px;
}

.tourtet-total span:nth-child(1) {
  color: #f79321;
  font-size: 22px;
  font-weight: bold;
  padding: 4px !important;
}

.tourtet-total span:nth-child(2) {
  padding: 4px !important;
  color: #f79321;
}

.tourtet-totalbtn-mobile {
  display: none;
}

.tourtet-accompanyservices {
  padding: 20px 8px;
}

.tourtet-expensepolicy, .tourtet-terms {
  padding: 8px;
}

.tourtet-accompanyservices-list, .tourtet-expensepolicy-list, .tourtet-terms-list {
  padding: 12px 8px 0 8px;
}

.tourtet-accompanyservices h2, .tourtet-expensepolicy h2, .tourtet-terms h2 {
  color: #003c71;
}

.tourtet-accompanyservices-top {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tourtet-accompanyservices-top span i, .tourtet-accompanyservices-bottom span i {
  margin-right: 12px;
  color: #1976d2;
}

.tourtet-accompanyservices-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 56%;
}

.tourtet-expensepolicy-list p {
  margin-bottom: 8px;
}

.tourtet-terms-list {
  padding: 20px 8px 0 8px;
}

.tourtet-terms-list span {
  padding: 12px;
  cursor: pointer;
  color: #003c71;
  line-height: 45px;
}

.tourtet-terms-list span:hover {
  background-color: #f0eded;
  color: #000;
}

.tourtet-terms-active {
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: none !important;
}

.tourtet-firstterm, .tourtet-secondterm, .tourtet-thirdterm, .tourtet-fourthterm {
  border-bottom: 1px solid #ccc;
}

.tourtet-firstterm-list, .tourtet-secondterm-list, .tourtet-thirdterm-list, .tourtet-fourthterm-list {
  margin-top: 24px;
  padding: 0 12px;
}

.tourtet-singleroom {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 56%;
}

.tourtet-singleroom span:nth-child(2) {
  color: #f79321;
}

.tourtet-right {
  position: sticky;
  top: 0;
}

.tourtet-totalprice {
  background-color: #fff;
  margin-top: 16px;
  padding: 12px;
}

.tourtet-totalprice p {
  color: #003c71;
  margin-bottom: 12px;
  font-weight: bold;
}

.tourtet-totalprice-adult, .tourtet-totalprice-children {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tourtet-totalprice-pickdaystart {
  margin-bottom: 12px;
}

.tourtet-totalprice-adult {
  margin-bottom: 12px;
}

.tourtet-totalprice-numberAdult, .tourtet-totalprice-numberChildren {
  display: flex;
}

.tourtet-totalprice-adultprice, .tourtet-totalprice-childrenprice {
  margin-right: 12px;
  color: #f79321;
  font-size: 18px;
}

.tourtet-totalprice-numberAdult button, .tourtet-totalprice-numberChildren button {
  outline: none;
  border: 1px solid #ccc;
  width: 30px;
  font-size: 22px;
  cursor: pointer;
}

.totalprice-numberadult, .totalprice-numberchildren {
  width: 30px;
  font-size: 22px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
  padding: 0 !important;
}

.tourtet-totalprice-adultpricequantity, .tourtet-totalprice-childrenpricequantity {
  display: flex;
  align-items: center;
}

.tourtet-totalprice-singleroom {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tourtet-totalprice-singleroom span:nth-child(2) {
  color: #f79321;
  font-size: 18px;
}

.tourtet-totalprice-totalandbtn {
  margin-top: 30px;
}

.tourtet-totalprice-totalandbtn p {
  text-align: right;
  color: #f79321;
  font-size: 28px;
  font-weight: bold;
}

.tourtet-totalprice-totalandbtn button {
  color: #fff;
  background-color: #f79321;
  padding: 8px;
  outline: none;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 18px;
  width: 100%;
  cursor: pointer;
}

.tourtet-bookmark {
  background-color: #fff;
  margin-top: 12px;
}

.tourtet-bookmark a {
  display: block;
  color: #000;
  padding: 16px;
}

.tourtet-bookmark a:hover {
  background-color: #ccc;
  cursor: pointer;
}

/* Responsive */

@media (min-width: 1024px) and (max-width: 1239px) {
  .tourtet-accompanyservices-bottom {
    width: 58%;
  }
}

@media (min-width: 740px) and (max-width:1023px) {
  .tailortour-avatar {
    font-size: 50px;
  }
  .tailortour-consultant {
    font-size: 16px;
  }
  .tailortour-qrcode img {
    width: 70%;
  }
  .fa-plus-circle, .fa-minus-circle {
    margin-left: 0;
  }
  .tourtet-departureschedule-table div {
    font-size: 16px;
  }
  .tourtet-departureschedule-title span:nth-child(1) {
    width: 115%;
    padding-left: 0;
    padding-right: 0;
  }
  .tourtet-departureschedule-title span:nth-child(2) {
    width: 85%;
    padding-left: 0;
    padding-right: 0;
  }
  .tourtet-departureschedule-title span:nth-child(3) {
    width: 130%;
    padding-left: 0;
    padding-right: 0;
  }
  .tourtet-departureschedule-title span:nth-child(4) {
    width: 50%;
    padding-left: 0;
    padding-right: 0;
  }
  .tourtet-departureschedule-1403 span:nth-child(1), .tourtet-departureschedule-1703 span:nth-child(1), .tourtet-departureschedule-2403 span:nth-child(1) {
    width: 65%;
    padding-left: 4px;
    padding-right: 0;
  }
  .tourtet-departureschedule-1403 span:nth-child(2), .tourtet-departureschedule-1703 span:nth-child(2), .tourtet-departureschedule-2403 span:nth-child(2) {
    width: 70%;
    padding-left: 0;
    padding-right: 0;
  }
  .tourtet-departureschedule-1403 span:nth-child(3), .tourtet-departureschedule-1703 span:nth-child(3), .tourtet-departureschedule-2403 span:nth-child(3) {
    width: 35%;
    padding-left: 0;
    padding-right: 0;
  }
  .tourtet-departureschedule-1403 span:nth-child(4), .tourtet-departureschedule-1703 span:nth-child(4), .tourtet-departureschedule-2403 span:nth-child(4) {
    width: 75%;
    padding-left: 0;
    padding-right: 4px;
    text-align: right;
  }
  .tourtet-accompanyservices-bottom {
    width: 58%;
  }
}

@media (max-width:739px) {
  .tourtet-departureschedule-title span:nth-child(2), .tourtet-departureschedule-title span:nth-child(3), .tourtet-departureschedule-1403 span:nth-child(2), .tourtet-departureschedule-1403 span:nth-child(3), .tourtet-departureschedule-1703 span:nth-child(2), .tourtet-departureschedule-1703 span:nth-child(3), .tourtet-departureschedule-2403 span:nth-child(2), .tourtet-departureschedule-2403 span:nth-child(3) {
    display: none;
  }
  .fa-plus-circle, .fa-minus-circle {
    margin-left: 0;
  }
  .tourtet-departureschedule-table div {
    font-size: 16px;
  }
  .tourtet-departureschedule-title span:nth-child(1) {
    width: 115%;
    padding-left: 0;
    padding-right: 0;
  }
  .tourtet-departureschedule-title span:nth-child(4) {
    width: 50%;
    padding-left: 0;
    padding-right: 0;
    text-align: right;
  }
  .tourtet-departureschedule-1403 span:nth-child(1), .tourtet-departureschedule-1703 span:nth-child(1), .tourtet-departureschedule-2403 span:nth-child(1) {
    width: 65%;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
  }
  .tourtet-departureschedule-1403 span:nth-child(4), .tourtet-departureschedule-1703 span:nth-child(4), .tourtet-departureschedule-2403 span:nth-child(4) {
    width: 75%;
    padding-left: 0;
    padding-right: 0;
    text-align: right;
  }
  .tourtet-departureschedule {
    padding: 12px;
  }
  .tourtet-departureschedule-table {
    padding: 0 8px;
  }
  .tourtet-departureschedule-adult, .tourtet-departureschedule-children, .tourtet-departureschedule-price {
    padding: 4px !important;
    margin-right: 0;
    font-size: 18px;
  }
  .tourtet-total, .tourtet-departureschedule-tablebtn {
    display: none;
  }
  .tourtet-departureschedule-tablechildren {
    width: 100%;
  }
  .tourtet-totalbtn-mobile {
    display: block;
    text-align: right;
    margin-top: 8px;
  }
  .tourtet-totalbtn-mobile button {
    color: #fff;
    background-color: #f79321;
    padding: 8px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 18px;
    width: 140px;
    cursor: pointer;
    margin-top: 4px;
  }
  .tourtet-totalbtn-mobile p {
    color: #f79321;
    font-weight: bold;
    font-size: 28px;
  }
  .tourtet-departureschedule-1403, .tourtet-departureschedule-1703, .tourtet-departureschedule-2403 {
    padding: 0 8px;
  }
  .tourtet-singleroom {
    width: 100%;
  }
  .tourtet-singleroom span {
    font-size: 18px;
    padding: 4px !important;
  }
  .tourtet-accompanyservices-bottom {
    justify-content: space-evenly;
    width: 100%;
  }
  .tourtet-info {
    flex-direction: column;
    padding: 8px;
    font-size: 16px;
  }
  .tourtet-info div span:nth-child(1), .tourtet-info div span:nth-child(2), .tourtet-info div span:nth-child(3) {
    margin-right: 8px;
  }
  .tourtet-info div span:nth-child(1) i, .tourtet-info div span:nth-child(2) i, .tourtet-info div span:nth-child(3) i {
    margin-left: 0;
  }
  .tourtet-code {
    margin-top: 8px;
  }
  .tourtet-navbar li:nth-child(3) {
    display: none;
  }
  .tourtet-navbar, .tourtet-name, .tourtet-rating, .tourtet-img {
    padding-left: 16px;
    padding-right: 16px;
  }
}