* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.form {
  background-color: #fff;
  padding: 16px 12px;
  width: 250px;
  text-align: center;
}

.form p {
  color: #000;
  font-size: 16px;
  margin-top: 12px;
}

.form p u {
  color: #26BED6;
  cursor: pointer;
}

.form p u:hover {
  color: #34e4ff;
}

.form button {
  background-color: #26BED6;
  width: 220px;
  font-size: 17px;
  color: #fff;
  border-radius: 4px;
  outline: none;
  border: none;
  padding: 8px;
  font-weight: bold;
  cursor: pointer;
}

.form button:hover {
  background-color: #34e4ff;
}

/* Form Login */

/* .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  transition: all 0.3s linear;
  visibility: hidden;
  z-index: -1;
} */

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  animation: fadeIn linear 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-modal {
  visibility: visible;
  z-index: 10;
}

.login-container {
  background: #fff;
  border-radius: 0.25rem;
  width: 350px;
  height: 400px;
  max-width: 620px;
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;
}

.register-container {
  background: #fff;
  border-radius: 0.25rem;
  width: 350px;
  height: 520px;
  max-width: 620px;
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;
}

.close-modal-btn {
  position: absolute;
  top: -25px;
  right: 0;
  background: transparent;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
  outline: none;
  border: none;
}

.times-icon {
  font-size: 25px;
}

.login-container h5, .register-container h5 {
  color: #003c71;
  font-weight: bold;
  margin-top: 8px;
}

/* Social icon */

.socials-icon {
  display: flex;
}

.facebook-icon {
  display: flex;
  align-items: center;
  background-color: #475993;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  margin-right: 16px;
  cursor: pointer;
  width: 140px;
}

.facebook-icon i {
  position: relative;
  margin: 8px;
  width: 23.838px;
}

.facebook-icon i::before {
  font-size: 25px;
}

.facebook-icon i::after {
  content: '';
  position: absolute;
  top: -2px;
  right: -10px;
  border-right: 1px solid #fff;
  height: 30px;
}

.facebook-icon p, .google-icon p {
  margin: 0 24px;
}

.google-icon {
  display: flex;
  align-items: center;
  background-color: #f34a38;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  margin-left: 16px;
  cursor: pointer;
  width: 140px;
}

.google-icon i {
  position: relative;
  margin: 8px;
}

.google-icon i::after {
  content: '';
  position: absolute;
  top: -2px;
  right: -10px;
  border-right: 1px solid #fff;
  height: 30px;
}

.google-icon i::before {
  font-size: 25px;
}

/* Line through */

.line-through {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line-through div {
  width: 130px;
  margin: 16px 0;
}

.line-through span {
  color: #818180;
  font-size: 16px;
  margin: 0 12px;
}

/* Input */

.input-login {
  margin: 8px 0;
}

.input-register {
  margin: 8px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-login label, .input-register label {
  color: #818180;
  font-size: 16px;
}

.input-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.input-password {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.input-repassword {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.input-checkbox {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-top: 12px;
  width: 318px;
  height: 45px;
}

.input-checkbox label a {
  text-align: left;
  text-decoration: none;
  color: #2574A9;
}

.input-name input, .input-password input, .input-repassword input {
  width: 318px;
  height: 45px;
  outline: none;
  border-radius: 4px;
  margin-top: 4px;
  border: 1px solid #ccc;
  padding: 10px 16px;
}

.input-name input:focus, .input-password input:focus, .input-repassword input:focus {
  border: 1px solid #2574A9;
  transition: linear 0.5s;
}

.input-login-btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
}

.forget-pass-btn {
  outline: none;
  border: none;
  cursor: pointer;
  color: #2574A9;
  background-color: #fff;
}

.login-btn {
  outline: none;
  border: 1px solid #003c71;
  color: #003c71;
  cursor: pointer;
  font-size: 16px;
  background-color: #fff;
  width: 318px;
  border-radius: 4px;
  padding: 8px;
  margin-top: 12px;
  margin-bottom: 8px;
  font-weight: bold;
}

.login-btn:hover {
  color: #34e4ff;
  border: 1px solid #34e4ff;
  transition: linear 0.3s;
}

/* Error Message */

.error-name {
  color: #000;
  font-size: 16px;
  position: absolute;
  top: 75px;
  left: 50px;
  padding: 12px 8px;
  border: 1px solid #f00;
  border-radius: 4px;
  z-index: 2;
  background-color: #fff;
}

.error-name::before {
  content: '';
  position: absolute;
  top: -20px;
  left: 7px;
  border: 10px solid;
  border-color: transparent transparent #f00 transparent;
}

.error-password {
  color: #000;
  font-size: 16px;
  position: absolute;
  bottom: 43px;
  left: 69px;
  padding: 12px 8px;
  border: 1px solid #f00;
  border-radius: 4px;
  z-index: 2;
  background-color: #fff;
}

.error-password::before {
  content: '';
  position: absolute;
  top: -20px;
  left: 7px;
  border: 10px solid;
  border-color: transparent transparent #f00 transparent;
}

.error-password-regis {
  color: #000;
  font-size: 16px;
  position: absolute;
  bottom: 163px;
  left: 69px;
  padding: 12px 8px;
  border: 1px solid #f00;
  border-radius: 4px;
  z-index: 2;
  background-color: #fff;
}

.error-password-regis::before {
  content: '';
  position: absolute;
  top: -20px;
  left: 7px;
  border: 10px solid;
  border-color: transparent transparent #f00 transparent;
}

.error-password-regis-sub {
  color: #000;
  font-size: 16px;
  position: absolute;
  bottom: 178px;
  left: 69px;
  padding: 12px 8px;
  border: 1px solid #f00;
  border-radius: 4px;
  z-index: 2;
  background-color: #fff;
}

.error-password-regis-sub::before {
  content: '';
  position: absolute;
  top: -20px;
  left: 7px;
  border: 10px solid;
  border-color: transparent transparent #f00 transparent;
}

.error-repassword {
  color: #000;
  font-size: 16px;
  position: absolute;
  bottom: 76px;
  left: 69px;
  padding: 12px 8px;
  border: 1px solid #f00;
  border-radius: 4px;
  z-index: 2;
  background-color: #fff;
}

.error-repassword::before {
  content: '';
  position: absolute;
  top: -20px;
  left: 7px;
  border: 10px solid;
  border-color: transparent transparent #f00 transparent;
}

.error-repassword-sub {
  color: #000;
  font-size: 16px;
  position: absolute;
  bottom: 91px;
  left: 69px;
  padding: 12px 8px;
  border: 1px solid #f00;
  border-radius: 4px;
  z-index: 2;
  background-color: #fff;
}

.error-repassword-sub::before {
  content: '';
  position: absolute;
  top: -20px;
  left: 7px;
  border: 10px solid;
  border-color: transparent transparent #f00 transparent;
}

.error-checkbox {
  color: #f00;
  font-size: 16px;
}

@media (max-width:1023px) {
  .form {
    padding: 10px 12px;
  }
  .form button {
    padding: 6px;
  }
  .form p {
    font-size: 15px;
  }
}