.header-navbar {
  display: flex;
  justify-content: space-between;
  background-color: #ebe9e9;
  height: 40px;
}

.bars-btn {
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  font-size: 30px;
  display: none;
}

.header-search-icon {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-left: 8px;
}

/* left */

.header-left {
  list-style: none;
  display: flex;
  align-items: center;
}

.header-input {
  height: 34px;
  width: 250px;
  margin: 3px 0px 3px 45px;
}

.header-btn {
  margin: 3px 0 3px 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

/* right */

.header-right {
  display: flex;
  align-items: center;
}

.header-right-btn {
  margin: 3px 45px 3px 0;
  border: none;
  outline: none;
  cursor: pointer;
}

/* .header-right-link:hover {
  color: #f00;
} */

/* Login */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  transition: all 0.3s linear;
  visibility: hidden;
  z-index: -1;
}

.show-modal {
  visibility: visible;
  z-index: 10;
}

.modal-container {
  background-color: white;
  border-radius: 0.25rem;
  width: 90vw;
  height: 45vh;
  max-width: 620px;
  text-align: center;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.modal-title {
  margin-bottom: 0;
}

.close-modal-btn {
  border: none;
  outline: none;
  cursor: pointer;
}

.modal-account-email {
  margin: 20px;
}

.modal-password {
  margin: 20px;
}

.modal-btn {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 30px;
}

.login-btn, .register-btn {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  background-color: #055793;
  border-radius: 4px;
  padding: 8px;
}

.new-account-btn, .forget-password-btn {
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 5px;
}

.modal-check {
  color: red;
}

/* Navbar */

.navbar-items {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  margin-top: 36px;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 24px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: center;
  align-items: flex-end;
}

.nav-links {
  color: #000;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  color: #f00;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #000;
}

.nav-icon-items {
  display: none;
}

.navbar-icon {
  display: none;
}

.nav-logo {
  width: 3.2rem;
  max-width: 45px;
}

/* // Subnav */

.nav-dropdown {
  position: relative;
}

.subnav-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  list-style: none;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  min-width: 13rem;
  font-size: 1rem;
}

.subnav-items {
  width: 100%;
  border-bottom: 1px solid #d2d2d2;
  padding: 1rem;
  list-style: none;
}

.subnav-links {
  color: #000;
  text-decoration: none;
}

.nav-dropdown:hover .subnav-menu {
  display: block;
}

.subnav-items:hover .subnav-links {
  color: #f00;
}

/* // Subnav-second */

.subnav-second-menu {
  position: absolute;
  top: 60px;
  left: 100%;
  display: none;
  list-style: none;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  min-width: 15rem;
  font-size: 1rem;
}

.subnav-second-items {
  width: 100%;
  border-bottom: 1px solid #d2d2d2;
  padding: 1rem;
  list-style: none;
}

.subnav-second-links {
  color: #000;
  text-decoration: none;
}

.subnav-items:hover .subnav-second-menu {
  display: block;
}

.subnav-second-items:hover .subnav-second-links {
  color: #f00;
}

/* Slider */

.slider-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px auto;
}

.img-link {
  text-decoration: none;
}

.img-container {
  width: 100%;
}

/* Slider-left */

.slider-left {
  flex-basis: 20%;
}

.img-left {
  width: 100%;
}

/* Slider-center */

.slider-center {
  flex-basis: 60%;
}

.img-container-center {
  position: relative;
  display: flex;
  height: 50%;
  overflow: hidden;
}

.mySlides {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s linear;
}

.prev {
  position: absolute;
  top: 257px;
  left: 0;
  margin: 0 16px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 30px;
  background: none;
}

.next {
  position: absolute;
  top: 257px;
  right: 0;
  margin: 0 16px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 30px;
  background: none;
}

.img-center {
  width: 100%;
  height: 50%;
}

.mySlides.activeSlide {
  opacity: 1;
  transform: translateX(0);
}

.mySlides.lastSlide {
  transform: translateX(-100%);
}

.mySlides.nextSlide {
  transform: translateX(100%);
}

/* Slider-right */

.slider-right {
  flex-basis: 20%;
}

.img-right {
  width: 100%;
}

/* Responsive */

@media (max-width: 1023px) {
  .header-left {
    margin: auto;
  }
  .header-right {
    display: none;
  }
  .header-input {
    margin-left: 0;
  }
  .header-btn {
    display: none;
  }
  .navbar-items {
    position: relative;
    margin-top: 0;
  }
  .nav-menu {
    display: block;
    flex-direction: column;
    width: 50%;
    height: auto;
    position: absolute;
    top: -40px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .nav-menu.active {
    background: #333333;
    top: -40px;
    left: 0;
    opacity: 1;
    transition: all 0.3s ease;
    z-index: 1;
    display: block;
  }
  .nav-links {
    color: #fff;
    text-align: left;
    padding: 1rem;
    width: 100%;
    display: table;
    border-bottom: 1px solid #000;
  }
  .nav-links:hover {
    color: #f00;
  }
  .navbar-icon {
    display: block;
    position: absolute;
    top: -53px;
    left: 40px;
    transform: translate(-100%, 50%);
    font-size: 1.8rem;
    cursor: pointer;
    z-index: 2;
  }
  .nav-icon-items {
    text-align: right;
    cursor: pointer;
  }
  .subnav-menu {
    top: 0;
    left: 100%;
  }
  .subnav-items:hover .subnav-second-menu {
    display: none;
  }
  /* .nav-logo-item {
    display: none;
  } */
}

@media (max-width: 740px) {
  .header-input {
    width: 180px;
    margin-left: 0px;
  }
  .nav-links {
    padding: 0.7rem;
    font-size: 1rem;
  }
  .nav-menu {
    width: 40%;
  }
  .subnav-menu {
    min-width: 11rem;
  }
  .subnav-items {
    padding: 0.6rem;
    font-size: 0.9rem;
  }
  .img-container-center {
    height: 281px;
  }
  .img-center {
    height: 276px;
  }
  .prev {
    top: 136px;
  }
  .next {
    top: 136px;
  }
  .mySlides {
    top: 50%;
  }
}

/* @media (min-width: 740px) and (max-width: 1023px) {
  .img-container-center {
    height: 307px;
  }
  .prev {
    top: 136px;
  }
  .next {
    top: 136px;
  }
  .img-center {
    height: 302px;
  }
} */

/* 
@media (min-width: 1113px) {
  .img-container-center {
    height: 307px;
  }
  .prev {
    top: 136px;
  }
  .next {
    top: 136px;
  }
  .img-center {
    height: 302px;
  }
} */